@using Microsoft.Ajax.Utilities
@model List<FootballApp.Models.Matches.Match>
@{
    ViewBag.Title = "Matches";
}

<div class="jumbotron">
    <h1>Matches</h1>

    @if (Model != null)
    {
        foreach (var match in Model)
        {
            <table class="table table-dark">
                <thead class="thead-light">
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">Matchday : @match.Matchday</td>
                        <td align="center"><b>@match.HomeTeam.Name</b></td>
                        <td align="center" id="scoreResult">@match.Score.FullTime.HomeTeam - @match.Score.FullTime.AwayTeam</td>
                        <td align="center"><b>@match.AwayTeam.Name</b></td>
                        <td align="center">@match.UtcDate.Day/@match.UtcDate.Month/@match.UtcDate.Year</td>
                    </tr>
                </tbody>
            </table>
        }
    }
    else
    {

    }
</div>