@model FootballApp.Models.GroupUpComingChampionsViewModel
@{
    ViewBag.Title = "StandingsCl";
}

<div class="jumbotron">
    <h2>Champions League</h2>

    @if (Model != null)
    {
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Stage</th>
                    <th>Home</th>
                    <th>Away</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Model.ListUpComingMatches)
                {
                    <tr>
                        <td>@match.Stage</td>
                        <td>@match.HomeTeam.Name</td>
                        <td>@match.AwayTeam.Name</td>
                        <td>@match.UtcDate.Day/@match.UtcDate.Month/@match.UtcDate.Year</td>
                    </tr>
                }
            </tbody>
        </table>
        //End of round16 table

        //Start of groupstage
        foreach (var standing in Model.ListGroupStage)
        {
            <table class="table table-light">
                <p>@standing.Group</p>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Club</th>
                        <th>MP</th>
                        <th>W</th>
                        <th>D</th>
                        <th>L</th>
                        <th>Pts</th>
                    </tr>
                </thead>
                @foreach (var table in standing.Table)
                {
                    <tbody>
                        <tr>
                            <td>@table.Position</td>
                            <td>@table.Team.Name</td>
                            <td>@table.PlayedGames</td>
                            <td>@table.Won</td>
                            <td>@table.Draw</td>
                            <td>@table.Lost</td>
                            <td>@table.Points</td>
                        </tr>
                    </tbody>
                }
            </table>
        }
    }
</div>


